/* 非表示コメントをここに仮用意 */

div{
	color: #666666;
	width: 500px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}
span{
	color: #009900;
}
h1{
	color: blue;
	font-size: 30px;
}
a{
	font-size: 150%;
	font-weight: bold;
	color: #FF6666;
	text-decoration: none;
}
a:hover{
	color: #9900FF;
	text-decoration: underline;
	font-style: italic;
}
